/* 侧边导航栏 */
.menu-ul .el-menu{
  background-color: #1B1E27;
}
.menu-ul .menu-ul .el-menu-item.is-active{
  background-color: #1B1E27;
}
.menu-ul .el-menu-item,.el-submenu__title,.el-submenu__title:hover{
  background: #1B1E27;
  color: #fff;
  font-size: 18px;
}
.menu-ul .el-menu-item.is-active {
  background-color: #fff;
  color: #1B1E27;
}
.el-submenu .el-menu-item{
  font-size: 14px;
  min-width: auto;
}
.second-header .el-row{
  height: 57px;;
}
.second-header .el-col-2{
  height: 100%;
  line-height: 57px;
  text-align: center;
}
.second-header .el-button--info.is-plain:focus{
  background: #fff;
  border-color: #fff;
  color: #1B1E27;
}
.second-header .el-button--info.is-plain {
  color: #fff;
  background: #1B1E27;
  border-color: #1B1E27;
}
/* 公共导航菜单 */
.navOptionsItem{
  width:100%;
  background:#34383E;
  clear: both;
  overflow: hidden;
  border-radius:4px;
  margin-bottom: 20px;
}
.navOptionsItem ul li{
  float:left;
  margin:10px;
}
.navOptionsItem ul li a{
  display: block;
  color:#fff;
  font-size:18px;
  background:#34383E;
  text-decoration: none;
  padding:5px 20px;
  border-radius:4px;
}
.navOptionsItem ul li a.active{
  color:#34383E;
  background:#fff;
}
/* element 组件样式自定义 */
/* 表格 */
.blackComponents .el-table{
  color: #fff;
}
.blackComponents .el-table__body tr:hover>td{
  background-color:#3D4048
}
.blackComponents .el-table, .el-table__expanded-cell{
  background-color: #3D4048;
}
.blackComponents .el-table th,.blackComponents .el-table tr{
  background-color: #373B44;
}
.blackComponents .el-table--border,.el-table--group{
  border: 1px solid #303339;
}
.blackComponents .el-table td,.blackComponents .el-table th.is-leaf{
  border: 1px solid #303339;
}
.blackComponents .el-table--border::after,.blackComponents .el-table--group::after,.blackComponents .el-table::before{
  background-color: #303339;
}
.blackComponents .el-table thead{
  color: #E4E4E4;
}
/* 输入框 */
.blackComponents .el-input__inner,.blackComponents .el-textarea__inner{
  background-color: #585B62;
  border: 1px solid #585B62;
  color: #fff;
}
/* 表单样式 */
.blackComponents .el-form-item__label{
  color: #ffffff;
}
/* 分页 */
.blackComponents .paginationClass{
  text-align: right;
  margin-top: 15px;
}
.blackComponents .el-pagination.is-background .btn-next,.blackComponents .el-pagination.is-background .btn-prev,.blackComponents .el-pagination.is-background .el-pager li{
  background-color: #585B62;
}
.blackComponents .el-pagination__total{
  color: #E4E4E4;
}
.blackComponents .el-pagination__jump{
  color: #E4E4E4;
}
.blackComponents .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
  color: #fff;
}
.blackComponents .fc-unthemed .fc-today {
  background: #727786;
}
/* 树形控件 */
.blackComponents .el-tree{
  background-color: #3D4048;
  color: #fff;
}
.blackComponents .el-tree-node:focus>.el-tree-node__content,.blackComponents .el-tree-node__content:hover{
  background-color: #727786;
}
/* 分割线 */
.blackComponents .el-divider{
  background-color: #727786;
}
.blackComponents .el-divider__text{
  background: #3D4048;
  color: #ffffff;
}
/* 公用组件样式 */
.platformContainer{
  width: 100%;
  background: #3D4048;
  color: #fff;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px;
  clear: both;
  overflow: hidden;
}
.scheduleContainer{
  width: 100%;
  background: #3D4048;
  color: #fff;
  border-radius: 4px;
  padding: 15px;
}
.cardContainer{
  width: 100%;
  background: #585B62;
  color: #fff;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px;
  clear: both;
  overflow: hidden;
}
.floatLeft{
  float: left;
}
.floatRight{
  float: right;
}
.page-title{
  width: 100%;
  margin-bottom:15px;
  background: #3D4048;
  color: #fff;
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  padding: 0 10px;
  border-radius:4px;
}
.page-title .page-title-radio{
  float: right;
  line-height: 48px;
}
/* 自定义表格样式 用于报修单等页面 */
.elementTable{
  width: 100%;
  border-bottom: 1px solid #1B1E27;
  border-right: 1px solid #1B1E27;
  border-collapse: collapse;
  border-spacing: 0;
  margin:0;
  padding:0;
}
.elementTable th,.elementTable td{
  border-left: 1px solid #1B1E27;
  border-top: 1px solid #1B1E27;
  font-weight: normal;
  padding: 10px;
}
/* 字体大小 */
.text-size-12{
  font-size: 12px;
}
.text-size-14{
  font-size: 14px;
}
.text-size-16{
  font-size: 16px;
}
.text-size-18{
  font-size: 18px;
}
.text-size-20{
  font-size: 20px;
}
.text-size-24{
  font-size: 24px;
}
/* 字体颜色 */
.color-white{
  color:#fff;
}
.color-offwhite{
  color:#F9F9F9;
}
.color-grayblack{
  color: #9B9B9B;
}
.color-darkblue{
  color:#228AD5;
}
.color-lightgreen{
  color:#00FAE7;
}
.color-success{
  color: #15CC48;
}
.color-orange{
  color:#FA7D00;
}
.color-red{
  color:#FB3A06;
}
/* 背景颜色 */
.bg-grayblack{
  background-color:#34383E;
}
.bg-black{
  background-color:#1B1E27;
}
/* 间距 */
.marginTop{
  margin-top: 15px;
}
.marginBottom{
  margin-bottom: 15px;
}

.MainContain{
  position: relative;
  width: 1450px;
  height: 887px;
}
.SysMonbg{
  background:#34383E url('../assets/img/Containerbgc.png') no-repeat scroll center center;
  cursor: move;
}
.hf-6{
  position: absolute;
  width: 76px;
  height: 62px;
  border-radius: 4px;
}
.smalllbox{
  width: 76px;
  height: 31px;
  line-height: 31px;
  text-align: center;
}
.sfs{
  position: absolute;
  margin:0 auto;
  padding:0px 14px;
  width: 50px;
  line-height: 95px;
  height: 282px;
  font-size: 18px;
  color:#fff;
}
.text-box{
  position: absolute;
  width:75px;
  height:33px;
  padding: 6px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  text-align:center;
}
.Datepick .ivu-picker-panel-body{
  background-color: #3D4048;
  width: 250px;
}
.blackComponents .el-tree-node__label {
  font-size: 12px;
}
.Datepick .ivu-input-wrapper{
  display: none;
}
.Datepick .ivu-select-dropdown{
  top:10px!important;
  width:200px!important;
  box-shadow: none;
}
.Datepick .ivu-date-picker-cells{
  margin:10px auto;
}
